# 03.파이썬 문자열
## 021 ~ 030

In [1]:
# 021
letters='python'
print(letters[0], letters[2])

p t

In [ ]:
# 022
license_plate = "24가 2210"
print(license_plate[-4:])

In [3]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [4]:
# 024
string = "PYTHON"
print(string[::-1]) # 역방향으로 1칸씩의 의미
print("".join(reversed(string)))

NOHTYP
NOHTYP

In [5]:
# 025
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [6]:
# 026
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

In [7]:
# 027
url = "http://sharebook.kr"
print(url[url.find(".")+1:])

print(url.split('.')[-1])

kr
kr

In [8]:
# 028
lang = 'python'
print(lang[0])
# lang[0] = 'P'
lang2 = lang.replace('p','P')
print(lang2)

p
Python

In [9]:
# 029
string = 'abcdfe2a354a32a'
str2 = string.replace('a','A')
print(str2)

Abcdfe2A354A32A

In [10]:
# 030
string = 'abcd'
str2 = string.replace('b','B')
print(str2)

aBcd

# 파이썬 문자열
## 031 ~ 040

In [11]:
#031 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [12]:
#032 문자열 곱하기
print("Hi"*3)

HiHiHi

In [13]:
#033 문자열 곱하기
print('-'*80)

--------------------------------------------------------------------------------

In [15]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1+' '+t2
print(t3*4)

python javapython javapython javapython java

In [17]:
# 035 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [18]:
# 036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
# 037 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [20]:
# 038 컴마 제거하기
상장주식수 = "5,969,782,550"
금액 = int(상장주식수.replace(',',''))
print(금액)

5969782550

In [21]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [22]:
# 040 strip 메서드
data = "   삼성전자    "
data2 = data.strip()
print(data2)

삼성전자

In [23]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
t2 = ticker.upper()
print(t2)

BTC_KRW

In [24]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
t1 = ticker.lower()
print(t1)

btc_krw

In [25]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
t1 = 'hello'
t2 = t1.capitalize()
print(t2)

Hello

In [28]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
isxlsx = file_name.endswith('xlsx')
print(isxlsx)

True

In [31]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

f = "보고서.xlsx"
print(f.endswith('xls') or f.endswith('xlsx'))
print(f.endswith(('xls','xlsx')))  # 튜플임에 주의. 자료구조: 리스트,튜플,딕셔너리

True
True

In [32]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

f = "2020_보고서.xlsx"
print(f.startswith('2020'))

True

In [33]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
b = a.split()
print(b)

['hello', 'world']

In [34]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
t2 = ticker.split('_')
print(t2)

['btc', 'krw']

In [35]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
year,month,day = date.split('-')
print(year,month,day)

2020 05 01

In [42]:

# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
d2 = data.strip()
print(d2)
d3 = data.rstrip()
print(d3)
d4 = data.lstrip()
print(d4, d4.__len__())
print(len(d4))

039490
039490
039490      11
11

# 04. 파이썬 리스트

## 051 ~ 060

In [43]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위|	 영화
# 1  |	닥터 스트레인지
# 2  |	스플릿
# 3  |	럭키

movie_rank=["영화","닥터 스트레인지","스플릿", "럭키"]
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키']

In [44]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [45]:
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [50]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿']

In [53]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [55]:
# 056
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [56]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

7 1

In [57]:
# 058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [62]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [63]:
# 060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

## 061 ~ 070

In [64]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
p2 = price[1:]
print(p2)

[100, 130, 140, 150, 160, 170]

In [66]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n1 = nums[::2]
print(n1)

[1, 3, 5, 7, 9]

In [67]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n2 = nums[1::2]
print(n2)

[2, 4, 6, 8, 10]

In [68]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
n3=nums[::-1]
print(n3)

[5, 4, 3, 2, 1]

In [69]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

for s in interest[::2]:
    print(s,end=" ")

삼성전자 Naver

In [72]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

for s in interest:
    print(s,end=" ")

print()
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [73]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [74]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [76]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [80]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)  # sorted와 sort는 다르다.
print(data2)

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

In [81]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

print(my_variable, type(my_variable))

() <class 'tuple'>

In [82]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키
my_variable = ('닥터 스트레인지', '스플릿', '럭키')
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [85]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

num1 = (1)
print(type(num1))

num1 = (1,)
print(type(num1))

<class 'int'>
<class 'tuple'>

In [86]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [87]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

> 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

In [91]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t[0].replace('a','A')
print(t)

t= ('A','b','c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

> 무조건 삭제하고 새로 만들어야 함

In [94]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
lst = []
for s in interest:
    lst.append(s)

print(lst, type(lst))   

lst2 = list(interest)
print(lst2, type(lst2))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

TypeError: 'list' object is not callable

In [95]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
t = tuple(interest)
print(t, type(t))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [96]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [97]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)
t3 = tuple(range(2,99,2))
print(t3)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)