# 01. 파이썬 시작하기
> print 함수와 관련된 문제를 풀어봅시다.

## 001 ~ 010

In [323]:
# 001 print 기초
# 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

Hello World

In [324]:
# 002 print 기초
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

In [325]:
# 003 print 기초
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

# 신씨가 소리질렀다. "도둑이야".
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [326]:
# 004 print 기초
# 화면에 "C:\Windows"를 출력하세요.
print('"C:\Windows"')

"C:\Windows"

In [327]:
# 005 print 탭과 줄바꿈
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [328]:
# 006 print 여러 데이터 출력
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

오늘은 일요일

In [329]:
# 007 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver;kakao;sk;samsung
print("naver;kakao;sk;samsung")

arr=['naver','kakao','sk', 'samsung']
print(arr[0],arr[1], arr[2],arr[3], sep=';')

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [330]:
# 008 print 기초
# print() 함수를 사용하여 다음과 같이 출력하세요.

# naver/kakao/sk/samsung
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

In [331]:
# 009 print 줄바꿈
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 
# 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

first
second

In [332]:
# 010 연산 결과 출력
# 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

# 02. 파이썬 변수
> 파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제를 풀어봅시다.

## 011 ~ 020 변수

In [333]:
# 011 변수 사용하기
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 
# 총 평가금액을 출력하세요.
삼성전자=50000
주식=10
평가금액=삼성전자*주식
print(평가금액)

500000

In [1]:
# 012 변수 사용하기
# 다음 표는 삼성전자의 일부 투자정보입니다. 
# 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

# 항목	값
# 시가총액	298조
# 현재가	50,000원
# PER	15.79
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [2]:
# 013 문자열 출력
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

# >> s = "hello"
# >> t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python
s = "hello"
t = "python"
print(s+'!', t)

hello! python

In [3]:
# 014 파이썬을 이용한 값 계산
# 아래 코드의 실행 결과를 예상해보세요.

# >> 2 + 2 * 3 
a=2+2*3
print(a, type(a))

8 <class 'int'>

In [4]:
# 015 type 함수
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

# >> a = 128
# >> print (type(a))
# <class 'int'>
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"

a="132"
print(a, type(a))

132 <class 'str'>

In [5]:
# 016 문자열을 정수로 변환
# 문자열 '720'를 정수형으로 변환해보세요.

# >> num_str = "720"
num_str = "720"
num = int(num_str)
print(num,type(num))

720 <class 'int'>

In [6]:
# 017 정수를 문자열 100으로 변환
# 정수 100을 문자열 '100'으로 변환해보세요.

# num = 100
num = 100
num_str= str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [7]:
# 018 문자열을 실수로 변환
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.
str="15.79"
f = float(str)
print(f, type(f))

15.79 <class 'float'>

In [8]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

# year = "2020"
year="2020"
year3=int(year)
year2=year3-1
year1=year2-1
print(year1, year2, year3)

2018 2019 2020

In [9]:
# 020 파이썬 계산
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 
# 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

monprice=48584
print(monprice*36)

1749024

# 03.파이썬 문자열
> 파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

## 021 ~ 030

In [1]:
# 021
letters='python'
print(letters[0], letters[2])

p t

In [ ]:
# 022
license_plate = "24가 2210"
print(license_plate[-4:])

In [3]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [4]:
# 024
string = "PYTHON"
print(string[::-1]) # 역방향으로 1칸씩의 의미
print("".join(reversed(string)))

NOHTYP
NOHTYP

In [5]:
# 025
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [6]:
# 026
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

In [7]:
# 027
url = "http://sharebook.kr"
print(url[url.find(".")+1:])

print(url.split('.')[-1])

kr
kr

In [8]:
# 028
lang = 'python'
print(lang[0])
# lang[0] = 'P'
lang2 = lang.replace('p','P')
print(lang2)

p
Python

In [9]:
# 029
string = 'abcdfe2a354a32a'
str2 = string.replace('a','A')
print(str2)

Abcdfe2A354A32A

In [10]:
# 030
string = 'abcd'
str2 = string.replace('b','B')
print(str2)

aBcd

# 파이썬 문자열
## 031 ~ 040

In [11]:
#031 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [12]:
#032 문자열 곱하기
print("Hi"*3)

HiHiHi

In [13]:
#033 문자열 곱하기
print('-'*80)

--------------------------------------------------------------------------------

In [15]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1+' '+t2
print(t3*4)

python javapython javapython javapython java

In [17]:
# 035 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [18]:
# 036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
# 037 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [20]:
# 038 컴마 제거하기
상장주식수 = "5,969,782,550"
금액 = int(상장주식수.replace(',',''))
print(금액)

5969782550

In [21]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [22]:
# 040 strip 메서드
data = "   삼성전자    "
data2 = data.strip()
print(data2)

삼성전자

In [23]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
t2 = ticker.upper()
print(t2)

BTC_KRW

In [24]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
t1 = ticker.lower()
print(t1)

btc_krw

In [25]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
t1 = 'hello'
t2 = t1.capitalize()
print(t2)

Hello

In [28]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
isxlsx = file_name.endswith('xlsx')
print(isxlsx)

True

In [31]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

f = "보고서.xlsx"
print(f.endswith('xls') or f.endswith('xlsx'))
print(f.endswith(('xls','xlsx')))  # 튜플임에 주의. 자료구조: 리스트,튜플,딕셔너리

True
True

In [32]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

f = "2020_보고서.xlsx"
print(f.startswith('2020'))

True

In [33]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
b = a.split()
print(b)

['hello', 'world']

In [34]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
t2 = ticker.split('_')
print(t2)

['btc', 'krw']

In [35]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
year,month,day = date.split('-')
print(year,month,day)

2020 05 01

In [42]:

# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
d2 = data.strip()
print(d2)
d3 = data.rstrip()
print(d3)
d4 = data.lstrip()
print(d4, d4.__len__())
print(len(d4))

039490
039490
039490      11
11

# 04. 파이썬 리스트
> 파이선 리스트는 순서가 있고 수정 가능한 자료구조입니다.

## 051 ~ 060 리스트

In [43]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위|	 영화
# 1  |	닥터 스트레인지
# 2  |	스플릿
# 3  |	럭키

movie_rank=["영화","닥터 스트레인지","스플릿", "럭키"]
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키']

In [44]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [45]:
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [50]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿']

In [53]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [55]:
# 056
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [56]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

7 1

In [57]:
# 058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [62]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [63]:
# 060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

## 061 ~ 070

In [64]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
p2 = price[1:]
print(p2)

[100, 130, 140, 150, 160, 170]

In [66]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n1 = nums[::2]
print(n1)

[1, 3, 5, 7, 9]

In [67]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n2 = nums[1::2]
print(n2)

[2, 4, 6, 8, 10]

In [68]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
n3=nums[::-1]
print(n3)

[5, 4, 3, 2, 1]

In [69]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

for s in interest[::2]:
    print(s,end=" ")

삼성전자 Naver

In [72]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

for s in interest:
    print(s,end=" ")

print()
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [73]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [74]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [76]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [80]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)  # sorted와 sort는 다르다.
print(data2)

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

# 05. 파이썬 튜플
> 파이썬 튜플은 순서가 있지만 수정 불가능한 자료구조입니다.

## 071 ~ 080 튜플

In [81]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

print(my_variable, type(my_variable))

() <class 'tuple'>

In [82]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키
my_variable = ('닥터 스트레인지', '스플릿', '럭키')
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [85]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

num1 = (1)
print(type(num1))

num1 = (1,)
print(type(num1))

<class 'int'>
<class 'tuple'>

In [86]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

g = (1, 2, 3)
g[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [87]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

g = 1, 2, 3, 4
print(g, type(g))

(1, 2, 3, 4) <class 'tuple'>

> $\rarr$ 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

In [91]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

g = ('a', 'b', 'c')
g[0].replace('a','A')
print(g)

g= ('A','b','c')
print(g)

('a', 'b', 'c')
('A', 'b', 'c')

> 무조건 삭제하고 새로 만들어야 함

In [1]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
lst = []
for s in interest:
    lst.append(s)

print(lst, type(lst))   

lst2 = list(interest)
print(lst2, type(lst2))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>
['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [95]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
g = tuple(interest)
print(g, type(g))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [96]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [97]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)
t3 = tuple(range(2,99,2))
print(t3)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 06. 파이썬 딕셔너리
## 081 ~ 090 딕셔너리 (1/2)

In [99]:
# 081 별 표현식
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 
# 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, b, *c = (0, 1, 2, 3, 4, 5)
print(a, b, c)

0 1 [2, 3, 4, 5]

In [102]:
# *표현식을 이용한 다른 예제

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [103]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 
# 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_, *valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [105]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 
# 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [106]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

print(temp, type(temp))

{} <class 'dict'>

In [107]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
print(dict, type(dict))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

In [111]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
dict["죠스바"]=1200
dict["월드콘"]=1500

print(dict, type(dict))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500} <class 'dict'>

In [113]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [114]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300

print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [115]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [116]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

> $\rarr$ 딕셔너리에 없는 키를 인덱싱하면 에러가 발생한다.

## 091 ~ 100 딕셔너리 (2/2)

In [4]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 
# 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나":[300, 20],
             "비비빅":[400, 3],
             "죠스바":[250, 10]
             }

print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]} <class 'dict'>

In [6]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], '원')

300 원

In [7]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][1], '개')

20 개

In [8]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}


# 이름	가격	재고
# 월드콘	500	7
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [12]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
data = icecream.keys()
print(data, type(data))

ice = list(icecream.keys())
print(ice, type(ice))

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']) <class 'dict_keys'>
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

> $\rarr$ 리스트를 구성하라고 했기 때문에 두번째 방식을 사용해야 한다.

In [13]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

data = list(icecream.values())
print(data, type(data))

[1200, 1200, 1800, 1500, 1000] <class 'list'>

In [15]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

s = sum(icecream.values())
print(s)

6700

In [20]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

for np in new_product.keys():
    icecream[np] = new_product[np] 
print(icecream)

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [26]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 
# 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [28]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 07. 파이썬 분기문
* 파이썬은 if라는 키워드를 통해 분기문을 만들 수 있습니다.

## 101 ~ 110 분기문 1/3

In [29]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

bData = True
print(bData)

True

In [30]:
# 102
# 아래 코드의 출력 결과를 예상하라

print(3 == 5)

False

In [31]:
# 103
# 아래 코드의 출력 결과를 예상하라

print(3 < 5)

True

In [32]:
# 104
# 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

True

In [33]:
# 106
# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2954263545.py, line 4)

> 지원하지 않는 연산자!

In [34]:
# 107
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

> 아무런 출력값이 없음

In [35]:
# 108
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [36]:
# 109
# 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [37]:
# 110
# 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

## 111 ~ 120 분기문 (2/3)

In [40]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

s = input()
print(s*2)

안녕하세요안녕하세요

In [41]:
# 112
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
num = int(input())
print(num + 10)

40

In [42]:
# 113
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

num = int(input())
if num %2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [46]:
# 114
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

num = int(input()) + 20
print( 255 if num > 255 else num)

120

In [49]:
# 115
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 
# 255보다 큰 값이 되는 경우 255를 출력해야 한다.

num = int(input()) - 20
print( 0 if (255 if num > 255 else num) < 0 else (255 if num > 255 else num) )

30

In [51]:
# 116
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.
m = input().split(':')[1]
if(int(m) == 0):
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

정각이 아닙니다.

In [53]:
# 117
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
# >> 좋아하는 과일은? 사과
# 정답입니다.

f = input("좋아하는 과일은?")
if f in fruit:
    print("정답입니다")
else:
    print("오답입니다")

오답입니다

In [56]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 
# 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 
# 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

f = input()
if f in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다.")

투자 경고 종목이 아닙니다.

In [58]:
# 119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 
# "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 제가좋아하는계절은: 봄
# 정답입니다.

f = input("좋아하는 과일은?")
if f in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

정답입니다

## 121 ~ 130 분기문 (3/3)

In [1]:
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

c = input()
if ord(c) < ord('a'):
    print(c.lower())
else:
    print(c.upper())

print( c.upper() if c.islower() else c.lower())

C
C

In [2]:
# 122
# 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 
# 사용자로부터 score를 입력받아 학점을 출력하라.

# 점수	학점
# 81~100	A
# 61~80	B
# 41~60	C
# 21~40	D
# 0~20	E

s = int(input())
if s >= 81:
    g = 'A'
elif s >= 61:
    g = 'B'
elif s >= 41:
    g = 'C'
elif s >= 21:
    g = 'D'
elif s >= 0:
    g = 'E'
print('grade is', g)

grade is D

In [6]:
# 123
# 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 
# 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

# 통화명	환율
# 달러	1167
# 엔	1.096
# 유로	1268
# 위안	171

local_amt, local_curr = input().split()
local_amt = float(local_amt)

curr = {"달러":1167, "엔":1.096, "유로":1268, "위안":171}
won = local_amt * curr[local_curr]
print(won, "원")

116700.0 원

In [7]:
# 124
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

m = int(input("input number1:"))
n = int(input("input number2:"))
if m < n:
    m = n
n = int(input("input number3:"))
if m < n:
    m = n

print(m)

50

In [8]:
# 125
# 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

# 번호	통신사
# 011	SKT
# 016	KT
# 019	LGU
# 010	알수없음

telno = input()
comp = {"011":"SKT", "016":"KT", "019":"LGU", "010":"알수없음"}
print(comp[telno[:3]])

SKT

In [9]:
# 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

# -	0	1	2	3	4	5	6	7	8	9
# 01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구
# 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

우편번호=input("우편번호: ")
if 우편번호[2:3] < '3':
    print("강북구")
elif 우편번호[2:3] < '6':
    print("도봉구")
else:
    print("노원구")

도봉구

In [10]:
# 127
# 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 
# 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

구분자 = input().split('-')[1][0]
if int(구분자)%2 == 1:
    print("남자")
else:
    print("여자")

남자

In [12]:
# 128
# 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 
# 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

# 지역코드	출생지
# 00 ~ 08	서울
# 09 ~ 12	부산

구분자 = input().split('-')[1][1:3]
if int(구분자) < 9:
    print("서울입니다")
else:
    print("서울이 아닙니다")

서울이 아닙니다

In [14]:
# 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 
# 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 
# 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

# 입력값: 821010-1635210

유효하지 않은 주민등록번호입니다.

* 수식이 줄을 넘어가는 경우 끝에 역슬래시(\)

In [20]:
# 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
# btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 
# 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 
# 그렇지 않은 경우 "하락장" 문자열을 출력하라.
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
print(btc)

시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])
최저가 = float(btc['min_price'])
변동폭 =  최고가 - 최저가
if 시가 + 변동폭 > 최고가:
    print('상승장')
else:
    print('하락장')

{'opening_price': '34079000', 'closing_price': '34243000', 'min_price': '33800000', 'max_price': '34652000', 'units_traded': '411.12205519', 'acc_trade_value': '14048942160.5142', 'prev_closing_price': '34061000', 'units_traded_24H': '1687.31764575', 'acc_trade_value_24H': '57645718041.334', 'fluctate_24H': '-499000', 'fluctate_rate_24H': '-1.44', 'date': '1686448273299'}
상승장

# 08. 파이썬 반복문
> 파이썬 for 문은 횟수가 정해져 있거나 상대적으로 횟수가 적은 경우에 대한 반복에 주로 사용됩니다. 파이썬 while문은 횟수가 상대적으로 크거나 무한 루프 형태의 반복문에 사용됩니다.

## 131 ~ 140 반복문 (1/7)

In [22]:
# 131
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [23]:
# 132
# for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [24]:
# 133
# 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

arr = ["A", "B", "C"]
for 변수 in arr:
  print(변수)

A
B
C
A
B
C

In [26]:

# 134
# for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [29]:

# 135
# for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

print("변환:", 'a')
print("변환:", 'b')
print("변환:", 'c')

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [30]:
# 136
# 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [31]:

# 137
# 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

for 변수 in [10,20,30]:
    print(변수)

10
20
30
10
20
30

In [32]:

# 138
# 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for 변수 in [10,20,30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [34]:
# 139
# 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

print("++++")
for 변수 in [10,20,30]:
    print(변수)

++++
10
20
30
++++
10
20
30

In [35]:

# 140
# 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

for _ in range(4):
    print("-------")

-------
-------
-------
-------
-------
-------
-------
-------

## 141 ~ 150 반복문 (2/7)

In [37]:
# 141
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 
# 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

for 가격 in 리스트:
    print(round(가격*1.1))

110
220
330

In [38]:


# 142
# for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김
for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [39]:
# 143
# 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
# 저장된 문자열의 길이를 다음과 같이 출력하라.

# 6
# 4
# 4

for 종목 in 리스트:
    print(len(종목))

6
4
4

In [40]:

# 144
# 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# 동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [41]:
# 145
# 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
# for문을 사용해서 동물 이름의 첫 글자만 출력하라.

# d
# c
# p
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [47]:
# 146
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3
for num in 리스트:
    print("3 x", num)
    print(" x ".join(['3',str(num)]))

3 x 1
3 x 1
3 x 2
3 x 2
3 x 3
3 x 3

In [48]:
# 147
# 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9
for num in 리스트:
    print(f"3 x {num} = {3*num}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [49]:
# 148
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라
for word in 리스트[1:]:
    print(word)

나
다
라

In [50]:
# 149
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다

for word in 리스트[::2]:
    print(word)

가
다

In [51]:
# 150
# 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for word in 리스트[::-1]:
    print(word)

라
다
나
가

## 151 ~ 160 반복문 (3/7)

In [52]:
# 151
# 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

# -20
# -3
for num in 리스트:
    if num < 0:
        print(num)

-20
-3

In [53]:
# 152
# for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]
# 3
for num in 리스트:
    if num %3 == 0:
        print(num)

3

In [54]:
# 153
# 리스트에서 20 보다 작은 3의 배수를 출력하라

리스트 = [13, 21, 12, 14, 30, 18]
# 12
# 18

for num in 리스트:
    if num < 20 and num % 3 == 0:
        print(num)

12
18

In [55]:
# 154
# 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]
# study
# python
# language

for word in 리스트:
    if len(word) >= 3:
        print(word)

study
python
language

In [57]:
# 155
# 리스트에서 대문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# A
# D
# (참고) isupper() 메서드는 대문자 여부를 판별합니다.

# >> 변수 = "A"
# >> 변수.isupper()
# True
# >> 변수 = "a"
# >> 변수.isupper()
# False

for word in 리스트:
    if word.isupper():
        print(word)

A
D

In [58]:
# 156
# 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]
# b
# c

for word in 리스트:
    if word.islower():
        print(word)

b
c

In [59]:
# 157
# 이름의 첫 글자를 대문자로 변경해서 출력하라.

리스트 = ['dog', 'cat', 'parrot']
# Dog
# Cat
# Parrot
# (참고) upper() 메서드는 문자열을 대문자로 변경합니다.

# >> 변수 = "a"
# >> a.upper()
# A
# >> 변수 = "abc"
# >> 변수.upper()
# ABC

for word in 리스트:
    print(word.capitalize())

Dog
Cat
Parrot

In [60]:
# 158
# 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
# hello
# ex01
# intro
for word in 리스트:
    print(word.split('.')[0])

hello
ex01
intro

In [64]:
# 159
# 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# define.h
for file in 리스트:
    if file.split(".")[1] in ['h']:
        print(file)

intra.h
define.h

In [63]:
# 160
# 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
# intra.h
# intra.c
# define.h
for file in 리스트:
    if file.split(".")[1] in ['c','h']:
        print(file)

intra.h
intra.c
define.h

## 161 ~ 170 반복문 (4/7)

In [65]:
# 161
# for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [66]:
# 162
# 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

# 2002
# 2006
# 2010
# ...
# 2042
# 2046
# 2050
# 참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

# >> print(list(range(0, 10, 2)))
# [0, 2, 4, 6, 8]

for y in range(2002, 2051, 4):
    print(y)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [67]:
# 163
# 1부터 30까지의 숫자 중 3의 배수를 출력하라.

# 3 
# 6 
# 9 
# 12 
# 15 
# 18 
# 21 
# 24 
# 27 
# 30

for i in range(1,31):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [72]:
# 164
# 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라.
for i in range(100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [79]:
# 165
# for문을 사용해서 아래와 같이 출력하라.

# 0.0
# 0.1
# 0.2
# 0.3
# 0.4
# 0.5
# ...
# 0.9
for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [82]:
# 166
# 구구단 3단을 출력하라.

# 3x1 = 3
# 3x2 = 6
# 3x3 = 9
# 3x4 = 12
# 3x5 = 15
# 3x6 = 18
# 3x7 = 21
# 3x8 = 24
# 3x9 = 27
for num in range(1,10):
    print("3x{0} = {1}".format(num, num*3))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [83]:
# 167
# 구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

# 3x1 = 3
# 3x3 = 9
# 3x5 = 15
# 3x7 = 21
# 3x9 = 27

for num in range(1,10,2):
    print("3x{0} = {1}".format(num, num*3))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [84]:
# 168
# 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합 : 55
s = 0
for i in range(1,11):
    s += i
print(s)

55

In [85]:
# 169
# 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

# 합: 25

s = 0
for i in range(1,11,2):
    s += i
print(s)

25

In [86]:
# 170
# 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

res = 1
for i in range(1,11):
    res *= i
print(res)

3628800

## 171 ~ 180 반복문 (5/7)

In [88]:
# 171
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 32100
# 32150
# 32000
# 32500
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [89]:
# 172
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 0 32100
# 1 32150
# 2 32000
# 3 32500
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [91]:
# 173
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 3 32100
# 2 32150
# 1 32000
# 0 32500

for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [93]:
# 174
# 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

price_list = [32100, 32150, 32000, 32500]
# 100 32150
# 110 32000
# 120 32500
for i in range(1,4):
    print(100 + (i-1)*10, price_list[i])

100 32150
110 32000
120 32500

In [94]:
# 175
# my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 가 나
# 나 다
# 다 라
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [95]:
# 176
# 리스트를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라", "마"]
# 가 나 다
# 나 다 라
# 다 라 마
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [96]:
# 177
# 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

my_list = ["가", "나", "다", "라"]
# 라 다
# 다 나
# 나 가
for i in range(3):
    print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [98]:
# 178
# 리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

my_list = [100, 200, 400, 800]
# 예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 
# 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 
# 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

# 100
# 200
# 400
for i in range(3):
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [100]:
179
# 리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

my_list = [100, 200, 400, 800, 1000, 1300]
# 첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 
# 같은 방식으로 나머지 데이터의 평균을 출력한다.

# 233.33333333333334
# 466.6666666666667
# 733.3333333333334
# 1033.3333333333333
for i in range(4):
    print(sum(my_list[i:i+3])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [105]:
180
# 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, 
# low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = [0,0,0,0,0]
for i in range(5):
    volatility[i] = high_prices[i] - low_prices[i]

print(volatility)    

volatility2=[]
for i in range(5):
    volatility2.append(high_prices[i] - low_prices[i])

print(volatility2)

[50, 100, 30, 80, 0]
[50, 100, 30, 80, 0]

## 181 ~ 190 반복문 (6/7)

In [106]:
# 181
# 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

# 101호	102호
# 201호	202호
# 301호	302호
apart = [["101호","102호"], ["201호","202호"], ["301호","302호"]]
print(apart)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [107]:
# 182
# 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

# 시가	종가
# 100	80
# 200	210
# 300	330
stock = list()
stock.append([100,80])
stock.append([200,210])
stock.append([300,330])
print(stock)

[[100, 80], [200, 210], [300, 330]]

In [109]:
# 183
# 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 
# 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

# 시가	종가
# 100	80
# 200	210
# 300	330
stock = {"시가":[100,200,300],
         "종가":[80,210,330]}

print(stock, type(stock))

{'시가': [100, 200, 300], '종가': [80, 210, 330]} <class 'dict'>

In [110]:
# 184
# 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 
# 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

# 10/10	80	110	70	90
# 10/11	210	230	190	200

stock = {"10/11":[80,110,70,90],
         "10/11":[210,230,190,200]}
print(stock, type(stock))

{'10/11': [210, 230, 190, 200]} <class 'dict'>

In [112]:
# 185
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
for floor in apart:
    for room in floor:
        print(room,'호')

101 호
102 호
201 호
202 호
301 호
302 호

In [114]:
# 186
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 301 호
# 302 호
# 201 호
# 202 호
# 101 호
# 102 호
for floor in apart[::-1]:
    for room in floor:
        print(room, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [115]:
# 187
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 302 호
# 301 호
# 202 호
# 201 호
# 102 호
# 101 호
for floor in apart[::-1]:
    for room in floor[::-1]:
        print(room, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [116]:
# 188
# 리스트에 저장된 데이터를 아래와 같이 출력하라.
apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# -----
# 102 호
# -----
# 201 호
# -----
# 202 호
# -----
# 301 호
# -----
# 302 호
# -----
for floor in apart:
    for room in floor:
        print(room,'호\n-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [117]:
# 189
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# -----
# 201 호
# 202 호
# -----
# 301 호
# 302 호
# -----
for floor in apart:
    for room in floor:
        print(room,'호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [118]:
# 190
# 리스트에 저장된 데이터를 아래와 같이 출력하라.

# apart = [ [101, 102], [201, 202], [301, 302] ]
# 101 호
# 102 호
# 201 호
# 202 호
# 301 호
# 302 호
# -----
for floor in apart:
    for room in floor:
        print(room,'호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191 ~ 200 반복문 (7/7)

In [120]:
# 191
# data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

# 수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
# 2000.28
# 3050.427
# 2050.2870000000003
# ...
for row in data:
    for val in row:
        print(val*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [121]:
# 192
# 191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

# 2000.28
# 3050.427
# 2050.2870000000003
# 1980.2772
# ----
# 7501.05
# 2050.2870000000003
# 2050.2870000000003
# 1980.2772
# ----
# 15452.163
# 15052.107
# 15552.177
# 14902.086000000001
# ----

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for val in row:
        print(val*1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [122]:
# 193
# 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

# >> print(result)
# [2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    for val in row:
        result.append(val*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [124]:
194
# 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 
# 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

# >> print(result)
# [
#  [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
#  [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
#  [15452.163, 15052.107, 15552.177, 14902.086000000001]
# ]
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []
for row in data:
    sub = []
    for val in row:
        sub.append(val*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [128]:
# 195
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 190
# 310
for data in ohlc[1:]:
    print(data[3])

100
190
310

In [129]:
# 196
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 종가가 150원보다 큰 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 190
# 310
for data in ohlc[1:]:
    if data[3] > 150:
            print(data[3])

190
310

In [131]:
# 197
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 100
# 310
for data in ohlc[1:]:
    if data[3] >= data[0]:
            print(data[3])

100
310

In [133]:
# 198
# ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 
# 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# >> print(volatility)
# [40, 30, 10]

volatility=[]
for data in ohlc[1:]:
    volatility.append(data[1]-data[2])
print(volatility)

[40, 30, 10]

In [134]:
# 199
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

# 10

for data in ohlc[1:]:
    if data[3] > data[0]:
            print(data[1]-data[2])

10

In [135]:
# 200
# 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
# 1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.
# 0

earned = 0
for data in ohlc[1:]:
    earned += data[3]-data[0]
    
print(earned)

0

# 09. 파이썬함수
* 함수란 자주 사용하는 코드에 대한 이름표입니다. 변수가 어떤 값을 바인딩하는 것처럼 함수는 어떤 코드를 바인딩합니다.

## 201 ~ 210 함수 (1/4)

In [137]:
# 201
# "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

def print_coin():
    print("비트코인")

In [139]:
# 202
# 201번에서 정의한 함수를 호출하라.
print_coin()

비트코인

In [140]:
# 203
# 201번에서 정의한 print_coin 함수를 100번호출하라.
for _ in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [141]:
# 204
# "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

for _ in range(100):
    print("비트코인")

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [142]:
# 205
# 아래의 에러가 발생하는 이유에 대해 설명하라.

hello()
def hello():
    print("Hi")

# 실행 예
# NameError: name 'hello' is not defined

NameError: name 'hello' is not defined

> 함수가 정의되기 전 호출이 먼저 일어나면 에러가 발생한다.

In [143]:
# 206
# 아래 코드의 실행 결과를 예측하라.

def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [145]:
# 207
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [146]:
# 208
# 아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [147]:
# 209
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [148]:
# 210
# 아래 코드의 실행 결과를 예측하라.

def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

## 211~ 220 함수 (2/4)

In [149]:
# 211
# 함수의 호출 결과를 예측하라.

def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [150]:
# 212
# 함수의 호출 결과를 예측하라.

def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [151]:
# 213
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(문자열) :
    print(문자열)
함수()
# TypeError: 함수() missing 1 required positional argument: '문자열'

TypeError: 함수() missing 1 required positional argument: '문자열'

> 함수호출 시 인자를 넣지 않아 발생

In [152]:
# 214
# 아래와 같은 에러가 발생하는 원인을 설명하라.

def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# TypeError: must be str, not int

TypeError: can only concatenate str (not "int") to str

> 더하기 연산은 문자열끼리 또는 숫자끼리만 가능하다. 섞어서 쓰면 에러 발생한다.

In [153]:
# 215
# 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

def print_with_smile(문자열):
    print(문자열 + ":D")

In [154]:
# 216
# 215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.
print_with_smile("안녕하세요")

안녕하세요:D

In [155]:
# 217
# 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.
def print_upper_price(price):
    print(price * 1.3)
    
print_upper_price(30000)

39000.0

In [156]:
# 218
# 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.
def print_sum(a,b):
    print(a+b)

print_sum(3,4)

7

In [157]:
# 219
# 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

# print_arithmetic_operation(3, 4)
# 3 + 4 = 7
# 3 - 4 = -1
# 3 * 4 = 12
# 3 / 4 = 0.75

def print_arithmetic_operation(a,b):
    print(a,'+',b,'=', a+b)
    print(a,'-',b,'=', a-b)
    print(a,'*',b,'=', a*b)
    print(a,'/',b,'=', a/b)

print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [159]:
# 220
# 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.
def print_max (a, b, c):
    if  a < b:
        a = b
    if  a < c:
        a = c
    print(a)

print_max(4, 13, 7)

13

## 221 ~ 230 함수 (3/4)

In [160]:
# 221
# 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

# print_reverse("python")
# nohtyp

def print_reverse(word):
    print(word[::-1])

print_reverse("python")

nohtyp

In [161]:
# 222
# 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

# print_score ([1, 2, 3])
# 2.0
def print_score(score):
    print(sum(score)/len(score))

print_score ([1, 2, 3])

2.0

In [162]:
# 223
# 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

# print_even ([1, 3, 2, 10, 12, 11, 15])
# 2
# 10
# 12
def print_even(nums):
    for num in nums:
        if num % 2 == 0:
            print(num)

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [163]:
# 224
# 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

# print_keys ({"이름":"김말똥", "나이":30, "성별":0})
# 이름
# 나이
# 성별
def print_keys(my_dict):
    for k in my_dict.keys():
        print(k)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [164]:
# 225
# my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
# my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

# print_value_by_key  (my_dict, "10/26")
# [100, 130, 100, 100]

def print_value_by_key(md, key):
    print(my_dict[key])
    
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [169]:
# 226
# 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

# print_5xn("아이엠어보이유알어걸")
# 아이엠어보
# 이유알어걸

def print_5xn(word):
    chunk_num = int(len(word)/5)
    for i in range(chunk_num +1):
        print(word[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [171]:

# 227
# 문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

# printmxn("아이엠어보이유알어걸", 3)
# 아이엠
# 어보이
# 유알어
# 걸

def printmxn(word, word_len):
    chunk_num = int(len(word)/word_len)
    for i in range(chunk_num +1):
        print(word[i*word_len:i*word_len + word_len])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [172]:
# 228
# 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 
# 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

# calc_monthly_salary(12000000)
# 1000000

def calc_monthly_salary(amt):
    print(amt//12)

salary = int(input())
calc_monthly_salary(salary)

10000000

In [173]:
# 229
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [174]:
# 230
# 아래 코드의 실행 결과를 예측하라.

def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

## 231 ~ 240 함수 (4/4)

In [176]:
# 231
# 아래 코드를 실행한 결과를 예상하라.

def n_plus_1 (n) :
    res231 = n + 1

n_plus_1(3)
print (res231)

NameError: name 'res231' is not defined

> 함수 내부에서 사용한 변수는 함수 밖에서는 접근이 불가능합니다. (문법이 그래요) 함수 내부에서 계산한 값을 전달하기 위해서는 return을 사용해야 합니다.

In [178]:
# 232
# 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

# make_url("naver")
# www.naver.com
def make_url(domain):
    return "www." + domain +".com"

url = make_url("naver")
print(url)

www.naver.com

In [179]:
# 233
# 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

# make_list("abcd")
# ['a', 'b', 'c', 'd']
def make_list(word):
    res = []
    for alpha in word:
        res.append(alpha)
    return res 

print(make_list("abcdefg"))

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [182]:
# 234
# 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

# pickup_even([3, 4, 5, 6, 7, 8])
# [4, 6, 8]

def pickup_even(nums):
    res = []
    for num in nums:
        if num % 2 == 0:
            res.append(num)
    return res            

print( pickup_even([3, 4, 5, 6, 7, 8]) )

[4, 6, 8]

In [183]:
# 235
# 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

# convert_int("1,234,567")
# 1234567
def convert_int(data):
    return int(data.replace(',',''))

print(
    convert_int("1,234,567")
)

1234567

In [184]:
# 236
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

a = 함수(10)  # -> 14
b = 함수(a)   # -> 18
c = 함수(b)   # -> 22
print(c)

22

In [185]:
# 237
# 아래 코드의 실행 결과를 예측하라.

def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [186]:
# 238
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [187]:
# 239
# 아래 코드의 실행 결과를 예측하라.

def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [188]:
# 240
# 아래 코드의 실행 결과를 예측하라.

def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

# 10. 파이썬 모듈
* 파이썬 모듈은 파이썬 파일을 의미합니다. 파이썬은 다양한 분야별로 모듈을 제공합니다. 프로그램 구현에 필요한 모듈의 기초 사용법을 알아봅시다.

## 241 ~ 250

In [195]:
# 241 현재시간
# datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.
import datetime as dt
now = dt.datetime.now()
print(now, type(now))

2023-06-11 15:38:57.213319 <class 'datetime.datetime'>

In [196]:
# 242 현재시간의 타입
# datetime 모듈의 now 함수의 리턴 값의 타입을 화면에 출력해보세요.
import datetime as dt
now = dt.datetime.now()
print(now, type(now))

2023-06-11 15:39:14.113011 <class 'datetime.datetime'>

In [203]:
# 243 timedelta
# datetime 모듈의 timedelta를 사용해서 오늘로부터 5일, 4일, 3일, 2일, 1일 전의 날짜를 화면에 출력해보세요.
import datetime as dt
now = dt.datetime.now()
for day in range(5, 0, -1):
    delta = dt.timedelta(day)
    date = now - delta
    print(date, type(delta))

2023-06-06 15:44:04.389426 <class 'datetime.timedelta'>
2023-06-07 15:44:04.389426 <class 'datetime.timedelta'>
2023-06-08 15:44:04.389426 <class 'datetime.timedelta'>
2023-06-09 15:44:04.389426 <class 'datetime.timedelta'>
2023-06-10 15:44:04.389426 <class 'datetime.timedelta'>

In [205]:
# 244 strftime
# 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. strftime 메서드를 사용하세요.

# 18:35:01 
import datetime as dt

now = dt.datetime.now()
print(now.strftime("%H:%M:%S"))

15:47:06

In [207]:
# 245 strptime
# datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. 
# "2020-05-04"의 문자열을 시간 타입으로 변환해보세요.
import datetime as dt
day = "2020-05-04"
ret = dt.datetime.strptime(day, '%Y-%m-%d')
print(ret, type(ret))

2020-05-04 00:00:00 <class 'datetime.datetime'>

In [209]:
# 246 sleep 함수
# time 모듈, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.
import time
import datetime

cnt = 0
while True:
    now = datetime.datetime.now()
    print(now)
    cnt += 1
    if cnt > 10:
        break
    time.sleep(1)

2023-06-11 17:28:48.490480
2023-06-11 17:28:49.491860
2023-06-11 17:28:50.492674
2023-06-11 17:28:51.493006
2023-06-11 17:28:52.493385
2023-06-11 17:28:53.494027
2023-06-11 17:28:54.494574
2023-06-11 17:28:55.495087
2023-06-11 17:28:56.495641
2023-06-11 17:28:57.496235
2023-06-11 17:28:58.497061

In [210]:
# 247 모듈 임포트
# 모듈을 임포트하는 4가지 방식에 대해 설명해보세요.
from  datetime import *
now = datetime.now()
print(now)

2023-06-11 17:33:13.622163

> 1. import datetime   -> datetime.datetime.now()
> 2. import datetime as dt -> dt.datetime.now()
> 3. from datetime import datetime -> datetime.now()
> 4. from datetime import * -> datetime.now()

In [211]:
# 248 os 모듈
# os 모듈의 getcwd 함수를 호출하여 현재 디렉터리의 경로를 화면에 출력해보세요.
import os
pwd = os.getcwd()
print(pwd)

d:\DEV\python300제

In [213]:

# 249 rename 함수
# 바탕화면에 텍스트 파일을 하나 생성한 후 os 모듈의 rename 함수를 호출하여 해당 파일의 이름을 변경해보세요.
import os
os.rename("before.txt","after.txt")

In [220]:
# 250 numpy
# numpy 모듈의 arange 함수를 사용해서 0.0 부터 5.0까지 0.1씩 증가하는 값을 화면에 출력해보세요.
import numpy as np
for v in np.arange(0, 5.1, 0.1):
    print(v)

for v in range(0, 50):
    print(v/10)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9
5.0
0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9

# 11. 파이썬 클래스
* 파이썬 클래스는 타입을 만들어내는 도구입니다. int, float, str과 같이 여러분의 새로운 타입을 만들 수 있습니다.

## 251 ~ 260 클래스 (1/4)

In [221]:
# 251 클래스, 객체, 인스턴스
# 클래스, 객체, 인스턴스에 대해 설명해봅시다.

In [223]:
# 252 클래스 정의
# 비어있는 사람 (Human) 클래스를 "정의" 해보세요.

class Human:
    pass

In [225]:
# 253 인스턴스 생성
# 사람 (Human) 클래스의 인스턴스를 "생성" 하고 이를 areum 변수로 바인딩해보세요.
class Human:
    pass

areum = Human()

In [226]:
# 254 클래스 생성자-1
# 사람 (Human) 클래스에 "응애응애"를 출력하는 생성자를 추가하세요.

# >>> areum = Human()
# 응애응애
class Human:
    def __init__(self):
        print("응애응애")
areum = Human()

응애응애

In [228]:
# 255 클래스 생성자-2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

# >>> areum = Human("아름", 25, "여자")
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("아름", 25,"여자")        
print(areum.name)

아름

In [229]:
# 256 인스턴스 속성에 접근
# 255에서 생성한 인스턴스의 이름, 나이, 성별을 출력하세요. 
# 인스턴스 변수에 접근하여 값을 출력하면 됩니다.

# 이름: 조아름, 나이: 25, 성별: 여자
# 인스턴스 변수에 접근하여 값을 가져오는 예

# >>> areum.age
# 25
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
areum = Human("아름", 25,"여자")        
print("이름: {}, 나이: {}, 성별: {}".format(areum.name, areum.age, areum.sex))

이름: 아름, 나이: 25, 성별: 여자

In [231]:
# 257 클래스 메소드 - 1
# 사람 (Human) 클래스에서 이름, 나이, 성별을 출력하는 who() 메소드를 추가하세요.

# >>> areum.who()
# 이름: 조아름, 나이: 25, 성별: 여자
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

areum = Human("아름", 25,"여자")        
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [232]:
# 258 클래스 메소드 - 2
# 사람 (Human) 클래스에 (이름, 나이, 성별)을 받는 setInfo 메소드를 추가하세요.

# >>> areum = Human("모름", 0, "모름")
# >>> areum.setInfo("아름", 25, "여자")
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("모름", 0,"모름")        
areum.setInfo("아름", 25,"여자")
areum.who()

이름: 아름, 나이: 25, 성별: 여자

In [236]:
# 259 클래스 소멸자
# 사람 (human) 클래스에 "나의 죽음을 알리지 말라"를 출력하는 소멸자를 추가하세요.

# >>> areum = Human("아름", 25, "여자")
# >>> del areum
# 나의 죽음을 알리지 말라
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름: {}, 나이: {}, 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__(self):
        print("나의 죽음을 알리지 말라")
areum = Human("아름", 25,"여자")
del areum

나의 죽음을 알리지 말라

In [239]:
# 260 에러의 원인
# 아래와 같은 에러가 발생한 원인에 대해 설명하세요.

class OMG : 
    def print() :
        print("Oh my god")

# >>> >>> myStock = OMG()
# >>> myStock.print()
# TypeError Traceback (most recent call last)
# <ipython-input-233-c85c04535b22> in <module>()
# ----> myStock.print()

# TypeError: print() takes 0 positional arguments but 1 was given
myStock = OMG()
myStock.print()  # OMG.print(myStock)

AttributeError: type object 'OMG' has no attribute 'pring'

> print함수는 인자 값을 받을 수 없음. 그런데 OMG.print(myStock) 형태가 되어 인자가 하나가 넘어가게 되어 에러가 발생함

## 261 ~ 270 클래스 (2/4)

In [240]:
# 261 Stock 클래스 생성
# 주식 종목에 대한 정보를 저장하는 Stock 클래스를 정의해보세요. 
# 클래스는 속성과 메서드를 갖고 있지 않습니다.
class Stock:
    pass

In [243]:
# 262 생성자
# Stock 클래스의 객체가 생성될 때 종목명과 종목코드를 입력 받을 수 있도록 생성자를 정의해보세요.
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [246]:
# 263 메서드
# 객체에 종목명을 입력할 수 있는 set_name 메서드를 추가해보세요.
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)
print(a.code)

삼성전자
None

In [247]:
# 264 메서드
# 객체에 종목코드를 입력할 수 있는 set_code 메서드를 추가해보세요.
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code


a = Stock(None, None)
a.set_code("005930")

print(a.name)
print(a.code)

None
005930

In [248]:

# 265 메서드
# 종목명과 종목코드를 리턴하는 get_name, get_code 메서드를 추가하세요. 해당 메서드를 사용하여 종목명과 종목코드를 얻고 이를 출력해보세요.

class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code


삼성 = Stock("삼성전자", "005930")
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [249]:
# 266 객체의 속성값 업데이트
# 생성자에서 종목명, 종목코드, PER, PBR, 배당수익률을 입력 받을 수 있도록 생성자를 수정하세요. 
# PER, PBR, 배당수익률은 float 타입입니다.

class Stock:
    def __init__(self, name, code, per, pbr, profit_ratio):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.profit_ratio = profit_ratio

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code

In [254]:
# 267 객체 생성
# 266번에서 정의한 생성자를 통해 다음 정보를 갖는 객체를 생성해보세요.

# 항목	정보
# 종목명	삼성전자
# 종목코드	005930
# PER	15.79
# PBR	1.33
# 배당수익률	2.83
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    
a = Stock("삼성전자", "005930", 15.79,1.33, 2.83)
print(a.get_name())
print(a.get_code())
print(a.per)
print(a.pbr)
print(a.dividend)

삼성전자
005930
15.79
1.33
2.83

In [255]:
# 268 객체의 속성 수정
# PER, PBR, 배당수익률은 변경될 수 있는 값입니다. 
# 이 값을 변경할 때 사용하는 set_per, set_pbr, set_dividend 메서드를 추가하세요.
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr): 
        self.pbr
    def set_dividend(self, dividend): 
        self.dividend
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    
a = Stock("삼성전자", "005930", 15.79,1.33, 2.83)
print(a.get_name())
print(a.get_code())
print(a.per)
print(a.pbr)
print(a.dividend)

삼성전자
005930
15.79
1.33
2.83

In [257]:
# 269 객체의 속성 수정
# 267번에서 생성한 객체에 set_per 메서드를 호출하여 per 값을 12.75로 수정해보세요.
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr): 
        self.pbr
    def set_dividend(self, dividend): 
        self.dividend
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    
a = Stock("삼성전자", "005930", 15.79,1.33, 2.83)
a.set_per(12.75)
print(a.get_name())
print(a.get_code())
print(a.per)
print(a.pbr)
print(a.dividend)

삼성전자
005930
12.75
1.33
2.83

In [258]:
# 270 여러 종목의 객체 생성
# 아래의 표를 참조하여 3종목에 대해 객체를 생성하고 이를 파이썬 리스트에 저장하세요. 
# 파이썬 리스트에 저장된 각 종목에 대해 for 루프를 통해 종목코드와 PER을 출력해보세요.

# 종목명	종목코드	PER	PBR	배당수익률
# 삼성전자	005930	15.79	1.33	2.83
# 현대차	005380	8.70	0.35	4.27
# LG전자	066570	317.34	0.69	1.37
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name
    def set_code(self, code):
        self.code = code
    def set_per(self, per):
        self.per = per
    def set_pbr(self, pbr): 
        self.pbr
    def set_dividend(self, dividend): 
        self.dividend
    def get_name(self):
        return self.name
    def get_code(self):
        return self.code
    def get_per(self):
        return self.per
    
o = []    
o.append(Stock("삼성전자", "005930", 15.79, 1.33, 2.83))
o.append(Stock("현대차", "005380", 8.70, 0.35, 4.27))
o.append(Stock("LG전자", "0056570", 317.34, 0.69, 1.37))

for a in o:
    print(a.get_code(), a.get_per())

005930 15.79
005380 8.7
0056570 317.34

# 271 ~ 280 클래스 (3/4)

In [259]:
# 271 Account 클래스
# 은행에 가서 계좌를 개설하면 은행이름, 예금주, 계좌번호, 잔액이 설정됩니다. 
# Account 클래스를 생성한 후 생성자를 구현해보세요. 
# 생성자에서는 예금주와 초기 잔액만 입력 받습니다. 
# 은행이름은 SC은행으로 계좌번호는 3자리-2자리-6자리 형태로 랜덤하게 생성됩니다.

# 은행이름: SC은행
# 계좌번호: 111-11-111111
class Account:
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
a = Account('SC은행','모름','111-11-111111',0)        
print(a.은행이름, a.예금주, a.계좌번호, a.잔액)

SC은행 모름 111-11-111111 0

In [264]:
# 272 클래스 변수
# 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요.
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        Account.account_cnt += 1

a = Account('SC은행','박에스','111-11-111111',20)
b = Account('우리은행','김우리','222-22-111111',10)

print(Account.account_cnt)

2

In [273]:
# 273 클래스 변수 출력
# Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메서드를 추가하세요.
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        Account.account_cnt += 1
        
    @classmethod
    def get_account_cnt(cls):
        return cls.account_cnt

a = Account('SC은행','박에스','111-11-111111',20)
b = Account('우리은행','김우리','222-22-111111',10)

print(Account.get_account_cnt())
print(a.get_account_cnt())

2
2

In [274]:
# 274 입금 메서드
# Account 클래스에 입금을 위한 deposit 메서드를 추가하세요. 입금은 최소 1원 이상만 가능합니다.
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        Account.account_cnt += 1
        
    @classmethod
    def get_account_cnt(cls):
        return cls.account_cnt
    
    def deposit(self, amount):
        if amount >= 1:
            self.잔액 += amount
            return 0
        else:
            return 1 # 최소금액 부족
        

a = Account('SC은행','박에스','111-11-111111',20)
if a.deposit(30) == 0:
    print(a.잔액)
else:
    print("예금 액수가 부족합니다.")

if a.deposit(0) == 0:
    print(a.잔액)
else:
    print("예금 액수가 부족합니다.")

50
예금 액수가 부족합니다.

In [276]:
# 275 출금 메서드
# Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 
# 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다.
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        Account.account_cnt += 1
        
    @classmethod
    def get_account_cnt(cls):
        return cls.account_cnt
    
    def deposit(self, amount):
        if amount >= 1:
            self.잔액 += amount
            print("잔액:", self.잔액)
        else:
            print("예금하시려는 금액이 부족합니다(1원이상)")

    def withdraw(self, amount):
        if self.잔액 >= amount:
            self.잔액 -= amount
            print("잔액:", self.잔액)
        else:
            print("잔액이 부족합니다.", self.잔액, '<', amount)

a = Account('SC은행','박에스','111-11-111111',20)

a.withdraw(10)
a.withdraw(20)

잔액: 10
잔액이 부족합니다. 10 < 20

In [279]:
# 276 정보 출력 메서드
# Account 인스턴스에 저장된 정보를 출력하는 display_info() 메서드를 추가하세요. 
# 잔고는 세자리마다 쉼표를 출력하세요.

# 은행이름: SC은행
# 예금주: 파이썬
# 계좌번호: 111-11-111111
# 잔고: 10,000원
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        Account.account_cnt += 1
        
    @classmethod
    def get_account_cnt(cls):
        return cls.account_cnt
    
    def deposit(self, amount):
        if amount >= 1:
            self.잔액 += amount
            print("잔액:", self.잔액)
        else:
            print("예금하시려는 금액이 부족합니다(1원이상)")

    def withdraw(self, amount):
        if self.잔액 >= amount:
            self.잔액 -= amount
            print("잔액:", self.잔액)
        else:
            print("잔액이 부족합니다.", self.잔액, '<', amount)

    def display_info(self):
        print("은행이름: ", self.은행이름)
        print("예금주: ", self.예금주)
        print("계좌번호: ", self.계좌번호)
        print("잔고: ", f"{self.잔액:,}")

a = Account('SC은행','박에스','111-11-111111',20000)
a.display_info()

은행이름:  SC은행
예금주:  박에스
계좌번호:  111-11-111111
잔고:  20,000

In [283]:
# 277 이자 지급하기
# 입금 횟수가 5회가 될 때 잔고를 기준으로 1%의 이자가 잔고에 추가되도록 코드를 변경해보세요.
class Account:
    account_cnt = 0
    def __init__(self, 은행이름, 예금주, 계좌번호, 잔액):
        self.은행이름 = 은행이름
        self.예금주 = 예금주
        self.계좌번호 = 계좌번호
        self.잔액 = 잔액
        self.입금횟수=1
        Account.account_cnt += 1
        
    @classmethod
    def get_account_cnt(cls):
        return cls.account_cnt
    
    def deposit(self, amount):
        if amount >= 1:
            self.잔액 += amount
            print("잔액:", self.잔액)
            self.입금횟수 += 1
            if self.입금횟수 == 5:
                print("이자지급: ", self.잔액*0.01)
                self.잔액 = self.잔액 * 1.01
                print("이자후잔액:", self.잔액)
                self.입금횟수 = 0
        else:
            print("예금하시려는 금액이 부족합니다(1원이상)")

    def withdraw(self, amount):
        if self.잔액 >= amount:
            self.잔액 -= amount
            print("잔액:", self.잔액)
        else:
            print("잔액이 부족합니다.", self.잔액, '<', amount)

    def display_info(self):
        print("은행이름: ", self.은행이름)
        print("예금주: ", self.예금주)
        print("계좌번호: ", self.계좌번호)
        print("잔고: ", f"{self.잔액:,}")
        print("입금횟수: ", self.입금횟수)

a = Account('SC은행','박에스','111-11-111111',20000)
a.display_info()
a.deposit(10000)
a.deposit(20000)
a.deposit(30000)
a.deposit(40000)
a.deposit(50000)
a.display_info()

은행이름:  SC은행
예금주:  박에스
계좌번호:  111-11-111111
잔고:  20,000
입금횟수:  1
잔액: 30000
잔액: 50000
잔액: 80000
잔액: 120000
이자지급:  1200.0
이자후잔액: 121200.0
잔액: 171200.0
은행이름:  SC은행
예금주:  박에스
계좌번호:  111-11-111111
잔고:  171,200.0
입금횟수:  1

In [284]:

# 278 여러 객체 생성
# Account 클래스로부터 3개 이상 인스턴스를 생성하고 생성된 인스턴스를 리스트에 저장해보세요.
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x000001DE402E7A50>, <__main__.Account object at 0x000001DE40180A90>, <__main__.Account object at 0x000001DE4017E490>]

In [285]:
# 279 객체 순회
# 반복문을 통해 리스트에 있는 객체를 순회하면서 잔고가 100만원 이상인 고객의 정보만 출력하세요.
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  785-03-675269
잔고:  10000000

In [286]:
# 280 입출금 내역
# 입금과 출금 내역이 기록되도록 코드를 업데이트 하세요. 
# 입금 내역과 출금 내역을 출력하는 deposit_history와 withdraw_history 메서드를 추가하세요.
import random


class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  # 1 -> '1' -> '001'
        num2 = str(num2).zfill(2)  # 1 -> '1' -> '01'
        num3 = str(num3).zfill(6)  # 1 -> '1' -> '0000001'
        self.account_number = num1 + '-' + num2 + '-' + num3  # 001-01-000001
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  # Account.account_count

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         # 5, 10, 15
                # 이자 지금
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

## 281 ~ 290 클래스 (4/4)

In [287]:
# 281 클래스 정의
# 다음 코드가 동작하도록 차 클래스를 정의하세요.

# >> car = 차(2, 1000)
# >> car.바퀴
# 2
# >> car.가격
# 1000
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴=바퀴
    self.가격=가격
  
car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [288]:
# 282 클래스 상속
# 차 클래스를 상속받은 자전차 클래스를 정의하세요.
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴=바퀴
    self.가격=가격
  
class 자전차(차):
  pass

bic = 자전차(2, 2000)
print(bic.바퀴)
print(bic.가격)

2
2000

In [289]:
# 283 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100)
# >> bicycle.가격
# 100
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴=바퀴
    self.가격=가격
  
class 자전차(차):
  pass

bic = 자전차(2, 100)
print(bic.바퀴)
print(bic.가격)

2
100

In [291]:
# 284 클래스 상속
# 다음 코드가 동작하도록 자전차 클래스를 정의하세요. 단 자전차 클래스는 차 클래스를 상속받습니다.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.구동계
# 시마노
class 차:
  def __init__(self, 바퀴, 가격, 구동계):
    self.바퀴=바퀴
    self.가격=가격
    self.구동계=구동계
  
class 자전차(차):
  pass

bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)

시마노

In [292]:
# 285 클래스 상속
# 다음 코드가 동작하도록 차 클래스를 상속받는 자동차 클래스를 정의하세요.

# >> car = 자동차(4, 1000)
# >> car.정보()
# 바퀴수 4
# 가격 1000
class 차:
  def __init__(self, 바퀴, 가격):
    self.바퀴=바퀴
    self.가격=가격
class 자동차(차):
  def 정보(self):
    print("바퀴수", self.바퀴)
    print("가격", self.가격)

car = 자동차(4, 1000)
car.정보()

바퀴수 4
가격 1000

In [293]:
# 286 부모 클래스 생성자 호출
# 다음 코드가 동작하도록 차 클래스를 수정하세요.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.정보()
# 바퀴수 2
# 가격 100
class 차:
  def __init__(self, 바퀴, 가격, 구동계):
    self.바퀴=바퀴
    self.가격=가격
    self.구동계=구동계

class 자전차(차):
  def 정보(self):
    print("바퀴수", self.바퀴)
    print("가격", self.가격)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100

In [294]:
# 287 부모 클래스 메서드 호출
# 자전차의 정보() 메서드로 구동계 정보까지 출력하도록 수정해보세요.

# >> bicycle = 자전차(2, 100, "시마노")
# >> bicycle.정보()
# 바퀴수 2
# 가격 100
# 구동계 시마노
class 차:
  def __init__(self, 바퀴, 가격, 구동계):
    self.바퀴=바퀴
    self.가격=가격
    self.구동계=구동계

class 자전차(차):
  def 정보(self):
    print("바퀴수", self.바퀴)
    print("가격", self.가격)
    print("구동계", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수 2
가격 100
구동계 시마노

In [295]:
# 288 메서드 오버라이딩
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def 호출(self):
    print("부모호출")

class 자식(부모):
  def 호출(self):
    print("자식호출")
나 = 자식()
나.호출()

자식호출

In [296]:
# 289 생성자
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
나 = 자식()

자식생성

In [299]:
# 290 부모클래스 생성자 호출
# 다음 코드의 실행 결과를 예상해보세요.

class 부모:
  def __init__(self):
    print("부모생성")

class 자식(부모):
  def __init__(self):
    print("자식생성")
    print(type(self))
    super().__init__()
    print(type(super()))

나 = 자식()

자식생성
<class '__main__.자식'>
부모생성
<class 'super'>

# 12. 파일 입출력과 예외처리
> 파이썬을 이용한 컴퓨터에 저장된 파일을 읽거나 반대로 파일을 쓸 수 있습니다. 프로그램을 작성하다보면 예외가 발생할 수 있는데 이를 잘 처리하는 것이 중요합니다.

## 291 ~ 300 파일 입출력

In [301]:
# 291 파일 쓰기
# 바탕화면에 '매수종목1.txt' 파일을 생성한 후 다음과 같이 종목코드를 파일에 써보세요.

# 005930
# 005380
# 035420
f = open('매수종목1.txt', 'wt', encoding='utf-8')
f.write("005930\n")
f.write("005380\n")
f.write("035420\n")
f.close()

In [303]:
# 292 파일 쓰기
# 바탕화면에 '매수종목2.txt' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요.

f = open('매수종목2.txt','wt', encoding='utf-8')
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [304]:
# 293 CSV 파일 쓰기
# 바탕화면에 '매수종목.csv' 파일을 생성한 후 다음과 같이 종목코드와 종목명을 파일에 써보세요. 
# 인코딩은 'cp949'를 사용해야합니다.
import csv
f = open("매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명","종목코드","PER"])
writer.writerow(["삼성전자","005930",15.59])
writer.writerow(["네이버", "035420", 55.82])
f.close()

In [309]:
# 294 파일 읽기
# 바탕화면에 생성한 '매수종목1.txt' 파일을 읽은 후 종목코드를 리스트에 저장해보세요.
f = open("매수종목1.txt", mode="rt", encoding="utf-8")
lines = f.readlines()
print(lines)

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)
print(codes)    

f.close()

['005930\n', '005380\n', '035420\n']
['005930', '005380', '035420']

In [310]:
# 295 파일 읽기
# 바탕화면에 생성한 '매수종목2.txt' 파일을 읽은 후 종목코드와 종목명을 딕셔너리로 저장해보세요. 
# 종목명을 key로 종목명을 value로 저장합니다.

# 005930 삼성전자
# 005380 현대차
# 035420 NAVER
f = open("매수종목2.txt", mode="rt", encoding="utf-8")
lines = f.readlines()
data = {}
for line in lines:
    line = line.strip()
    k,v = line.split()
    data[k] = v
print(data, type(data))    

f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'} <class 'dict'>

In [312]:
# 296 예외처리
# 문자열 PER (Price to Earning Ratio) 값을 실수로 변환할 때 에러가 발생합니다. 
# 예외처리를 통해 에러가 발생하는 PER은 0으로 출력하세요.

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [316]:
# 297 예외처리 및 리스트에 저장
# 문자열로 표현된 PER 값을 실수로 변환한 후 이를 새로운 리스트에 저장해보세요.

per = ["10.31", "", "8.00"]
per2=[]
for i in per:
    try:
        per2.append(float(i))
    except:
        per2.append(0)

print(per2)

[10.31, 0, 8.0]

In [318]:
# 298 특정 예외만 처리하기
# 어떤 값을 0으로 나누면 ZeroDivisionError 에러가 발생합니다. 
# try ~ except로 모든 에러에 대해 예외처리하지 말고 ZeroDivisionError 에러만 예외처리해보세요.
try:
    print(3/0)
except ZeroDivisionError:
    print("0으로 나눌수 없습니다.")

0으로 나눌수 없습니다.

In [320]:
# 299 예외의 메시지 출력하기
# 다음과 같은 코드 구조를 사용하면 예외 발생 시 에러 메시지를 변수로 바인딩할 수 있습니다.

data = [1,2,3]
for i in range(5):    
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [322]:
# 300 try, except, else, finally 구조 사용해보기
# 파이썬 예외처리는 다음과 같은 구조를 가질 수 있습니다.

# try:
#     실행 코드
# except:
#     예외가 발생했을 때 수행할 코드
# else:
#     예외가 발생하지 않았을 때 수행할 코드
# finally:
#     예외 발생 여부와 상관없이 항상 수행할 코드
# 아래의 코드에 대해서 예외처리를 사용하고 try, except, else, finally에 적당한 코드를 작성해봅시다. else와 finally는 적당한 문구를 print하시면 됩니다.

per = ["10.31", "", "8.00"]

for i in per:
    try:
        i = float(i)
    except:
        print(0)
    else:
        print(i)
    finally:
        print("끝났어요~")

10.31
끝났어요~
0
끝났어요~
8.0
끝났어요~