# 03.파이썬 문자열
## 021 ~ 030

In [1]:
# 021
letters='python'
print(letters[0], letters[2])

p t

In [ ]:
# 022
license_plate = "24가 2210"
print(license_plate[-4:])

In [3]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [4]:
# 024
string = "PYTHON"
print(string[::-1]) # 역방향으로 1칸씩의 의미
print("".join(reversed(string)))

NOHTYP
NOHTYP

In [5]:
# 025
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [6]:
# 026
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

In [7]:
# 027
url = "http://sharebook.kr"
print(url[url.find(".")+1:])

print(url.split('.')[-1])

kr
kr

In [8]:
# 028
lang = 'python'
print(lang[0])
# lang[0] = 'P'
lang2 = lang.replace('p','P')
print(lang2)

p
Python

In [9]:
# 029
string = 'abcdfe2a354a32a'
str2 = string.replace('a','A')
print(str2)

Abcdfe2A354A32A

In [10]:
# 030
string = 'abcd'
str2 = string.replace('b','B')
print(str2)

aBcd

# 파이썬 문자열
## 031 ~ 040

In [11]:
#031 문자열 합치기
a = "3"
b = "4"
print(a+b)

34

In [12]:
#032 문자열 곱하기
print("Hi"*3)

HiHiHi

In [13]:
#033 문자열 곱하기
print('-'*80)

--------------------------------------------------------------------------------

In [15]:
# 034 문자열 곱하기
t1 = 'python'
t2 = 'java'
t3 = t1+' '+t2
print(t3*4)

python javapython javapython javapython java

In [17]:
# 035 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [18]:
# 036 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [19]:
# 037 문자열 출력
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [20]:
# 038 컴마 제거하기
상장주식수 = "5,969,782,550"
금액 = int(상장주식수.replace(',',''))
print(금액)

5969782550

In [21]:
# 039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [22]:
# 040 strip 메서드
data = "   삼성전자    "
data2 = data.strip()
print(data2)

삼성전자

In [23]:
# 041 upper 메서드
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
t2 = ticker.upper()
print(t2)

BTC_KRW

In [24]:
# 042 lower 메서드
# 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
t1 = ticker.lower()
print(t1)

btc_krw

In [25]:
# 043 capitalize 메서드
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.
t1 = 'hello'
t2 = t1.capitalize()
print(t2)

Hello

In [28]:
# 044 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
isxlsx = file_name.endswith('xlsx')
print(isxlsx)

True

In [31]:
# 045 endswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

f = "보고서.xlsx"
print(f.endswith('xls') or f.endswith('xlsx'))
print(f.endswith(('xls','xlsx')))  # 튜플임에 주의. 자료구조: 리스트,튜플,딕셔너리

True
True

In [32]:
# 046 startswith 메서드
# 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

f = "2020_보고서.xlsx"
print(f.startswith('2020'))

True

In [33]:
# 047 split 메서드
# 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
b = a.split()
print(b)

['hello', 'world']

In [34]:
# 048 split 메서드
# 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
t2 = ticker.split('_')
print(t2)

['btc', 'krw']

In [35]:
# 049 split 메서드
# 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
year,month,day = date.split('-')
print(year,month,day)

2020 05 01

In [42]:

# 050 rstrip 메서드
# 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
d2 = data.strip()
print(d2)
d3 = data.rstrip()
print(d3)
d4 = data.lstrip()
print(d4, d4.__len__())
print(len(d4))

039490
039490
039490      11
11

# 04. 파이썬 리스트

## 051 ~ 060

In [43]:
# 051 리스트 생성
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

# 순위|	 영화
# 1  |	닥터 스트레인지
# 2  |	스플릿
# 3  |	럭키

movie_rank=["영화","닥터 스트레인지","스플릿", "럭키"]
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키']

In [44]:
# 052 리스트에 원소 추가
# 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['영화', '닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [45]:
# movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
# "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [50]:
# 054
# movie_rank 리스트에서 '럭키'를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿']

In [53]:
# 055
# movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [55]:
# 056
# lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang = lang1 + lang2
print(lang)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [56]:
# 057
# 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]
print(max(nums), min(nums))

7 1

In [57]:
# 058
# 다음 리스트의 합을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [62]:
# 059
# 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [63]:
# 060
# 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

## 061 ~ 070

In [64]:
# 061
# price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]
p2 = price[1:]
print(p2)

[100, 130, 140, 150, 160, 170]

In [66]:
# 062
# 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n1 = nums[::2]
print(n1)

[1, 3, 5, 7, 9]

In [67]:
# 063
# 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n2 = nums[1::2]
print(n2)

[2, 4, 6, 8, 10]

In [68]:
# 064
# 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]
n3=nums[::-1]
print(n3)

[5, 4, 3, 2, 1]

In [69]:
# 065
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver']

# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 Naver

for s in interest[::2]:
    print(s,end=" ")

삼성전자 Naver

In [72]:
# 066 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

for s in interest:
    print(s,end=" ")

print()
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [73]:
# 067 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [74]:
# 068 join 메서드
# interest 리스트에는 아래의 데이터가 바인딩되어 있다.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
# join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

# 출력 예시:
# 삼성전자
# LG전자
# Naver
# SK하이닉스
# 미래에셋대우
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [76]:
# 069 문자열 split 메서드
# 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.

string = "삼성전자/LG전자/Naver"
# 이를 interest 이름의 리스트로 분리 저장하라.
# ['삼성전자', 'LG전자', 'Naver']

interest = string.split('/')
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [80]:
# 070 리스트 정렬
# 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)  # sorted와 sort는 다르다.
print(data2)

data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]

In [81]:
# 071
# my_variable 이름의 비어있는 튜플을 만들라.
my_variable = ()

print(my_variable, type(my_variable))

() <class 'tuple'>

In [82]:
# 072
# 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

# 순위	영화
# 1	닥터 스트레인지
# 2	스플릿
# 3	럭키
my_variable = ('닥터 스트레인지', '스플릿', '럭키')
print(my_variable)

('닥터 스트레인지', '스플릿', '럭키')

In [85]:
# 073
# 숫자 1 이 저장된 튜플을 생성하라.

num1 = (1)
print(type(num1))

num1 = (1,)
print(type(num1))

<class 'int'>
<class 'tuple'>

In [86]:
# 074
# 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [87]:
# 075
# 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?

t = 1, 2, 3, 4
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

> $\rarr$ 원칙적으로 튜플은 괄호와 함께 데이터를 정의해야 하지만, 사용자 편의를 위해 괄호 없이도 동작합니다.

In [91]:
# 076
# 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.

t = ('a', 'b', 'c')
t[0].replace('a','A')
print(t)

t= ('A','b','c')
print(t)

('a', 'b', 'c')
('A', 'b', 'c')

> 무조건 삭제하고 새로 만들어야 함

In [1]:
# 077
# 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
lst = []
for s in interest:
    lst.append(s)

print(lst, type(lst))   

lst2 = list(interest)
print(lst2, type(lst2))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>
['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [95]:
# 078
# 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
t = tuple(interest)
print(t, type(t))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [96]:
# 079 튜플 언팩킹
# 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [97]:
# 080 range 함수
# 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.

# (2, 4, 6, 8 ... 98)
t3 = tuple(range(2,99,2))
print(t3)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 06. 파이썬 딕셔너리 (1/2)
## 081 ~ 090

In [99]:
# 081 별 표현식
# 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 
# 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 
# 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 
# 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, b, *c = (0, 1, 2, 3, 4, 5)
print(a, b, c)

0 1 [2, 3, 4, 5]

In [102]:
# *표현식을 이용한 다른 예제

# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, 
# start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

*valid_score, _, _ = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [103]:
# 082
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 
# 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,_, *valid_score = scores

print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [105]:
# 083
# 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 
# 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
_,*valid_score,_ = scores

print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [106]:
# 084 비어있는 딕셔너리
# temp 이름의 비어있는 딕셔너리를 만들라.

temp = {}

print(temp, type(temp))

{} <class 'dict'>

In [107]:
# 085
# 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

# 이름	희망 가격
# 메로나	1000
# 폴라포	1200
# 빵빠레	1800

dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
print(dict, type(dict))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

In [111]:
# 086
# 085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

# 이름	희망 가격
# 죠스바	1200
# 월드콘	1500

dict = {"메로나":1000, "폴라포":1200, "빵빠레":1800}
dict["죠스바"]=1200
dict["월드콘"]=1500

print(dict, type(dict))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500} <class 'dict'>

In [113]:
# 087
# 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [114]:
# 088
# 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice["메로나"] = 1300

print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [115]:
# 089
# 다음 딕셔너리에서 메로나를 삭제하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [116]:
# 090
# 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

> $\rarr$ 딕셔너리에 없는 키를 인덱싱하면 에러가 발생한다.

# 파이썬 딕셔너리 (2/2)
## 091 ~ 100

In [4]:
# 091 딕셔너리 생성
# 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 
# 딕셔너리의 이름은 inventory로 한다.

# 이름	가격	재고
# 메로나	300	20
# 비비빅	400	3
# 죠스바	250	100

inventory = {"메로나":[300, 20],
             "비비빅":[400, 3],
             "죠스바":[250, 10]
             }

print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 10]} <class 'dict'>

In [6]:
# 092 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][0], '원')

300 원

In [7]:
# 093 딕셔너리 인덱싱
# inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory["메로나"][1], '개')

20 개

In [8]:
# 094 딕셔너리 추가
# inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}


# 이름	가격	재고
# 월드콘	500	7
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [12]:
# 095 딕셔너리 keys() 메서드
# 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
data = icecream.keys()
print(data, type(data))

ice = list(icecream.keys())
print(ice, type(ice))

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']) <class 'dict_keys'>
['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

> $\rarr$ 리스트를 구성하라고 했기 때문에 두번째 방식을 사용해야 한다.

In [13]:
# 096 딕셔너리 values() 메서드
# 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

data = list(icecream.values())
print(data, type(data))

[1200, 1200, 1800, 1500, 1000] <class 'list'>

In [15]:
# 097 딕셔너리 values() 메서드
# icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

s = sum(icecream.values())
print(s)

6700

In [20]:
# 098 딕셔너리 update 메서드
# 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

for np in new_product.keys():
    icecream[np] = new_product[np] 
print(icecream)

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}
{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [26]:
# 099 zip과 dict
# 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 
# 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [28]:
# 100 zip과 dict
# date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 07. 파이썬 분기문
* 파이썬은 if라는 키워드를 통해 분기문을 만들 수 있습니다.

## 101 ~ 110 분기문 1/3

In [29]:
# 101
# 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

bData = True
print(bData)

True

In [30]:
# 102
# 아래 코드의 출력 결과를 예상하라

print(3 == 5)

False

In [31]:
# 103
# 아래 코드의 출력 결과를 예상하라

print(3 < 5)

True

In [32]:
# 104
# 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

True

In [33]:
# 106
# 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (2954263545.py, line 4)

> 지원하지 않는 연산자!

In [34]:
# 107
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

> 아무런 출력값이 없음

In [35]:
# 108
# 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [36]:
# 109
# 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [37]:
# 110
# 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

## 111 ~ 120 분기문 (2/3)

In [40]:
# 111
# 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

s = input()
print(s*2)

안녕하세요안녕하세요

In [41]:
# 112
# 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
num = int(input())
print(num + 10)

40

In [42]:
# 113
# 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

num = int(input())
if num %2 == 0:
    print('짝수')
else:
    print('홀수')

짝수

In [46]:
# 114
# 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
# 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

num = int(input()) + 20
print( 255 if num > 255 else num)

120

In [49]:
# 115
# 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 
# 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 
# 255보다 큰 값이 되는 경우 255를 출력해야 한다.

num = int(input()) - 20
print( 0 if (255 if num > 255 else num) < 0 else (255 if num > 255 else num) )

30

In [51]:
# 116
# 사용자로부터 입력 받은 시간이 정각인지 판별하라.
m = input().split(':')[1]
if(int(m) == 0):
    print("정각입니다.")
else:
    print("정각이 아닙니다.")

정각이 아닙니다.

In [53]:
# 117
# 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 
# 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]
# >> 좋아하는 과일은? 사과
# 정답입니다.

f = input("좋아하는 과일은?")
if f in fruit:
    print("정답입니다")
else:
    print("오답입니다")

오답입니다

In [56]:
# 118
# 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 
# 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 
# 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

f = input()
if f in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다.")

투자 경고 종목이 아닙니다.

In [58]:
# 119
# 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 
# "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
# >> 제가좋아하는계절은: 봄
# 정답입니다.

f = input("좋아하는 과일은?")
if f in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

정답입니다

## 121 ~ 130 분기문 (3/3)

In [1]:
# 121
# 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

c = input()
if ord(c) < ord('a'):
    print(c.lower())
else:
    print(c.upper())

print( c.upper() if c.islower() else c.lower())

C
C